html {
    margin: 0;
    padding: 0;
    height: 100vh;
}
p {
    width: 500px;
}
table {
    width: 100%;
    text-align: center;
    border-collapse: separate;
    border-spacing: 3px;

}
table, th, td {
    border: 1px solid black;
}
:root {
    --color1: #05b1b1;
    --color2: #52339f;
}
section {
    padding: 50px 0;
    /*сверху и снизу по 100пкл а по бокам 0*/
}
#row {
    width: 300px;
}

ul{
    list-style:none;
}
li{
    display:inline-block;
}

.about h5 {
    padding: 20px;
    border: 3px solid var(--color1);
}
#accordionExample {

    /*width: max-content;*/
    width: 1000px;
}
pre {
    width: 100%;
    text-align: center;
}
